In [94]:
import pandas as pd
import datetime

In [47]:
#ADDING THE RECORDS TO THE XLSX FILE

data = pd.read_excel('MoneyBook.xlsx')
dataF = pd.DataFrame(data)
dataF
# rowN = pd.DataFrame({'Date': '20-july-2022','Time':'8:35 AM','Purpose':'BreakFast','Transacted amount':50,'Balance':950})
# dataf = data.append(rowN)
# dataf

Empty DataFrame
Columns: [Date, Time, Purpose, Transacted amount, Balance]
Index: []

In [118]:
i = 0 if dataF.index[:].size == 0 else dataF.index[-1]
i+=1
Balance =0 if dataF.index[:].size == 0 else dataF.iloc[-1][-1]
wtdrw = bool(int(input('Withdrawl(1)/Deposit(0):')))
amt = int(input('Enter the Transacted Amount :'))  
purpose = input('Enter the Purpose of Transation : ')
x = datetime.datetime.now()
timemark = x.strftime('%I:%M %p')
datemark = x.strftime("%d-%B-%Y")

row = pd.DataFrame({'Date': [datemark],'Time':[timemark],'Purpose':[purpose],'Transacted amount':[amt],'Balance':[Balance-amt if wtdrw else  Balance+amt]},index=[i])




dataF=dataF.append(row)

print(dataF)


dataF.to_excel('MoneyBook.xlsx',index=True)

           Date      Time       Purpose  Transacted amount  Balance
1  20-June-2022  09:39 AM     BreakFast                200      950
2  20-June-2022  09:57 AM     BreakFast                500      450
3  20-June-2022  10:02 AM  Bank Deposit               5000    -4550
4  20-June-2022  10:02 AM          bank               5000    -9550
5  20-June-2022  10:05 AM         urike                  5    -9555

In [102]:

dataF=pd.DataFrame()

In [104]:
dataF.index[:]
dataF

           Date      Time    Purpose  Transacted amount  Balance
1  20-June-2022  09:39 AM  BreakFast                200      950

In [81]:
i = 0 if dataF.index[:].size == 0 else dataF.index[-1]
i

1

In [106]:
dataF.iloc[-1][-1]

950

In [117]:
bool(int(input(1)))

False