In [2]:
import pandas as pd
import datetime

In [3]:
#ADDING THE RECORDS TO THE XLSX FILE

data = pd.read_excel('MoneyBook.xlsx')
dataF = pd.DataFrame(data)
dataF

   Unnamed: 0          Date      Time    Purpose  Transacted amount  Balance
0           1  20-June-2022  10:06 AM  Deposited               1000     1000
1           2  20-June-2022  10:07 AM      Lunch                100      900
2           3  20-June-2022  10:08 AM     Coffee                 50      850
3           4  20-June-2022  10:08 AM     coffee                 20      830
4           5  20-June-2022  10:09 AM       Bank               5000     5830
5           6  20-June-2022  10:10 AM          0                  0     5830

In [16]:
i = 0 if dataF.index[:].size == 0 else dataF.index[-1]
i+=1

Balance =0 if dataF.index[:].size == 0 else dataF.iloc[-1][-1]

wtdrw = bool(int(input('Withdrawl(1)/Deposit(0):')))
amt = int(input('Enter the Transacted Amount :'))  
purpose = input('Enter the Purpose of Transation : ')

x = datetime.datetime.now()
timemark = x.strftime('%I:%M %p')
datemark = x.strftime("%d-%B-%Y")

row = pd.DataFrame({'Date': [datemark],'Time':[timemark],'Purpose':[purpose],'Trsct Type': ["Deposit [+]" if not wtdrw else 'Withdrawn [-]'],'Trstcd amt':[amt],'Balance':[Balance-amt if wtdrw else  Balance+amt]},index=[i])




dataF=dataF.append(row)

print(dataF)
dataF.to_excel('MoneyBook.xlsx',index=True)

           Date      Time Purpose     Trsct Type  Trstcd amt  Balance
1  20-June-2022  10:41 AM     dep    Deposit [+]         500      500
2  20-June-2022  10:42 AM   debit  Withdrawn [-]         100      400

In [14]:
#cleaning the File making it empty
dataF=pd.DataFrame()

In [6]:
dataF.index[:]
dataF

Empty DataFrame
Columns: []
Index: []