In [94]:
import pandas as pd
import datetime

In [47]:
#ADDING THE RECORDS TO THE XLSX FILE

data = pd.read_excel('MoneyBook.xlsx')
dataF = pd.DataFrame(data)
dataF

Empty DataFrame
Columns: [Date, Time, Purpose, Transacted amount, Balance]
Index: []

In [127]:
i = 0 if dataF.index[:].size == 0 else dataF.index[-1]
i+=1

Balance =0 if dataF.index[:].size == 0 else dataF.iloc[-1][-1]

wtdrw = bool(int(input('Withdrawl(1)/Deposit(0):')))
amt = int(input('Enter the Transacted Amount :'))  
purpose = input('Enter the Purpose of Transation : ')

x = datetime.datetime.now()
timemark = x.strftime('%I:%M %p')
datemark = x.strftime("%d-%B-%Y")

row = pd.DataFrame({'Date': [datemark],'Time':[timemark],'Purpose':[purpose],'Transacted amount':[amt],'Balance':[Balance-amt if wtdrw else  Balance+amt]},index=[i])




dataF=dataF.append(row)

print(dataF)
dataF.to_excel('MoneyBook.xlsx',index=True)

           Date      Time    Purpose  Transacted amount  Balance
1  20-June-2022  10:06 AM  Deposited               1000     1000
2  20-June-2022  10:07 AM      Lunch                100      900
3  20-June-2022  10:08 AM     Coffee                 50      850
4  20-June-2022  10:08 AM     coffee                 20      830
5  20-June-2022  10:09 AM       Bank               5000     5830
6  20-June-2022  10:10 AM          0                  0     5830

In [120]:
#cleaning the File making it empty
dataF=pd.DataFrame()

In [121]:
dataF.index[:]
dataF

Empty DataFrame
Columns: []
Index: []